In [2]:
import pandas as pd;
import numpy as np;
import openpyxl;

In [3]:
# Loading the data set and inspection of dataset
df=pd.read_csv('OlaData.csv')
print(df.columns)
print(df.info())
print(df.describe())

Index(['Date', 'Time', 'Booking_ID', 'Booking_Status', 'Customer_ID',
       'Vehicle_Type', 'Pickup_Location', 'Drop_Location', 'V_TAT', 'C_TAT',
       'Canceled_Rides_by_Customer', 'Canceled_Rides_by_Driver',
       'Incomplete_Rides', 'Incomplete_Rides_Reason', 'Booking_Value',
       'Payment_Method', 'Ride_Distance', 'Driver_Ratings', 'Customer_Rating',
       'Vehicle Images'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20407 entries, 0 to 20406
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        20407 non-null  object
 1   Time                        20407 non-null  object
 2   Booking_ID                  20407 non-null  object
 3   Booking_Status              20407 non-null  object
 4   Customer_ID                 20407 non-null  object
 5   Vehicle_Type                20407 non-null  object
 6   Pickup_Location             20407 non-null  object
 7   Drop_Location               20407 non-null  object
 8   V_TAT                       12652 non-null  float64
 9   C_TAT                       12652 non-null  float64
 10  Canceled_Rides_by_Customer  2081 non-null   object
 11  Canceled_Rides_by_Driver    3654 non-null   object
 12  Incomplete_Rides            12652 non-null  object
 13  Incomplete_Rides_Reason     795 non-null    object
 14  Booking_Value               20407 non-null  int64
 15  Payment_Method              12652 non-null  object
 16  Ride_Distance               20407 non-null  int64
 17  Driver_Ratings              12652 non-null  float64
 18  Customer_Rating             12652 non-null  float64
 19  Vehicle Images              0 non-null      float64
dtypes: float64(5), int64(2), object(13)
memory usage: 3.1+ MB
None
              V_TAT         C_TAT  Booking_Value  Ride_Distance  \
count  12652.000000  12652.000000   20407.000000   20407.000000
mean     170.640768     85.183765     546.316019      14.160386
std       80.657316     35.993634     533.593923      15.827246
min       35.000000     25.000000     100.000000       0.000000
25%       98.000000     55.000000     240.000000       0.000000
50%      168.000000     85.000000     384.000000       8.000000
75%      238.000000    115.000000     623.000000      27.000000
max      308.000000    145.000000    2999.000000      49.000000

       Driver_Ratings  Customer_Rating  Vehicle Images
count    12652.000000     12652.000000             0.0
mean         3.997479         3.993772             NaN
std          0.576357         0.581111             NaN
min          3.000000         3.000000             NaN
25%          3.500000         3.500000             NaN
50%          4.000000         4.000000             NaN
75%          4.500000         4.500000             NaN
max          5.000000         5.000000             NaN

In [4]:
df.isnull().sum()

Date                              0
Time                              0
Booking_ID                        0
Booking_Status                    0
Customer_ID                       0
Vehicle_Type                      0
Pickup_Location                   0
Drop_Location                     0
V_TAT                          7755
C_TAT                          7755
Canceled_Rides_by_Customer    18326
Canceled_Rides_by_Driver      16753
Incomplete_Rides               7755
Incomplete_Rides_Reason       19612
Booking_Value                     0
Payment_Method                 7755
Ride_Distance                     0
Driver_Ratings                 7755
Customer_Rating                7755
Vehicle Images                20407
dtype: int64

In [5]:
# Cleaning the names of columns and making them in snakecase and removing all whitespaces

df.columns=df.columns.str.lower()
df.columns=df.columns.str.replace(' ','_')
df.columns=df.columns.str.strip()

#checking

print(df.columns)

Index(['date', 'time', 'booking_id', 'booking_status', 'customer_id',
       'vehicle_type', 'pickup_location', 'drop_location', 'v_tat', 'c_tat',
       'canceled_rides_by_customer', 'canceled_rides_by_driver',
       'incomplete_rides', 'incomplete_rides_reason', 'booking_value',
       'payment_method', 'ride_distance', 'driver_ratings', 'customer_rating',
       'vehicle_images'],
      dtype='object')

In [6]:
## Doing the EDA and finding some insights 
print(df['vehicle_type'])
# Cleaning the text of vehicle type column to snakecase and removing all whitespaces if any present
df['vehicle_type']=df['vehicle_type'].str.lower()
df['vehicle_type']=df['vehicle_type'].str.replace(' ','_')
df['vehicle_type']=df['vehicle_type'].str.strip()
#checking
print(df['vehicle_type'])

0        Prime Sedan
1               Bike
2          Prime SUV
3              eBike
4               Mini
            ...
20402      Prime SUV
20403           Mini
20404          eBike
20405      Prime SUV
20406    Prime Sedan
Name: vehicle_type, Length: 20407, dtype: object
0        prime_sedan
1               bike
2          prime_suv
3              ebike
4               mini
            ...
20402      prime_suv
20403           mini
20404          ebike
20405      prime_suv
20406    prime_sedan
Name: vehicle_type, Length: 20407, dtype: object

In [7]:
###   OVERALL ANALYSIS

In [8]:
## TOTAL SUCCESSFUL or UNSUCCessful BOOKINGS
var=df[df['booking_status']=="Success"]
print(len(var))

12652

In [9]:
## FINDING AVERAGE DISTANCE RIDE FOR EACH VEHICLE ( let's do it for prime_suv)
var1=df[df['vehicle_type']=="prime_suv"]
var2=var1['ride_distance'].mean()
print(var2)

15.187096774193549

In [10]:
## CANCELLED RIDES BY THE CUSTOMERS or drivers
var3=df[df['canceled_rides_by_customer'].notna()]
print(len(var3))

2081

In [11]:
## TOP 5 CUSTOMERS WHO BOOKED HIGHEST NUMBER OF RIDES or rating wise or booking value wise ( just adjust the filter condition & see the results accordingly)
var4 =df.groupby('customer_id').agg(number_of_bookings=('booking_id','count')).sort_values('number_of_bookings',ascending=False).head(5)
print(var4)

             number_of_bookings
customer_id
CID940408                     3
CID393964                     2
CID143850                     2
CID190536                     2
CID126952                     2

In [12]:
## Number of rides cancelled by drivers due to personal and car-related issues or any other reasons as well or by customer
var5 =df[df['canceled_rides_by_driver']=="Personal & Car related issue"]
print(len(var5))

1263

In [13]:
## MAX & MIN DRIVER RATING ON PRIME SUV or in any vehicle
#print(df['driver_ratings'].dtype) # firstly checking the datatype of this column so that numerical operations can be performed correctly
var6= df[df['vehicle_type']=="prime_suv"]
#print(var6[['vehicle_type','driver_ratings']])
print(var6['driver_ratings'].min())
print(var6['driver_ratings'].max())

3.0
5.0

In [14]:
## RIDES WHERE PAYMENT METHOD IS UPI or any other 
#First cleaing the strings of payment methoid column
df['payment_method']=df['payment_method'].str.lower()
df['payment_method']=df['payment_method'].str.replace(' ','_')
df['payment_method']=df['payment_method'].str.strip()
print(df['payment_method'])
var7= df[df['payment_method']=="upi"]
print(len(var7))

0                NaN
1               cash
2                upi
3                NaN
4        credit_card
            ...
20402            NaN
20403           cash
20404           cash
20405            upi
20406            NaN
Name: payment_method, Length: 20407, dtype: object
5113

In [15]:
## Average customer rating or driver ratings per vehicle type ( let's take mini vehicle here)
#print(df['customer_rating'].dtype) # Checking the Data type of cyustomer RATING COLUMN
var8= df[df['vehicle_type']=="mini"]
var9=var8['customer_rating'].mean()
print(var9)

4.019822320932816

In [41]:
## TOTAL value OF rides COMPLETED successfully or unsuccessfully 
print(df['incomplete_rides'].unique()) # checking the different values inside the incomplete_rides column
var10= df[df['incomplete_rides']=="No"]
var11= var10['booking_value'].sum()
print(var11)

[nan 'No' 'Yes']
6429897

In [42]:
## ALL incomplete rides along with reason :
#print(df[['incomplete_rides_reason','incomplete_rides']].tail(30)) # just doing basic inspection 
var12=df[df['incomplete_rides']=="Yes"]
#print(var12[['booking_id','customer_id','incomplete_rides','incomplete_rides_reason']])
print(var12[['booking_id','customer_id','incomplete_rides','incomplete_rides_reason']])

          booking_id customer_id incomplete_rides incomplete_rides_reason
38     CNR5176704322   CID296026              Yes         Customer Demand
49     CNR9312632867   CID649563              Yes       Vehicle Breakdown
70     CNR7924302885   CID517661              Yes         Customer Demand
93     CNR1640228587   CID190281              Yes             Other Issue
101    CNR7623690602   CID526261              Yes             Other Issue
...              ...         ...              ...                     ...
20197  CNR3500429121   CID108258              Yes             Other Issue
20275  CNR9654855291   CID923733              Yes             Other Issue
20289  CNR6348178557   CID948352              Yes       Vehicle Breakdown
20378  CNR7902243107   CID514958              Yes         Customer Demand
20390  CNR7459607546   CID845808              Yes         Customer Demand

[795 rows x 4 columns]

In [43]:
##note= similarly by adjusting filters we can get the insight of whatever more we want 
#print(df['ride_distance'].sum())
#print(df['canceled_rides_by_driver'])
print(df[['customer_rating','driver_ratings']])

       customer_rating  driver_ratings
0                  NaN             NaN
1                  4.0             4.1
2                  4.8             4.2
3                  NaN             NaN
4                  3.0             4.0
...                ...             ...
20402              NaN             NaN
20403              3.6             3.3
20404              3.0             3.9
20405              4.7             4.2
20406              NaN             NaN

[20407 rows x 2 columns]

In [48]:
# Connecting to mysql 
!pip install pymysql sqlalchemy
!-m pip install --upgrade pip

Requirement already satisfied: pymysql in c:\users\91620\appdata\local\programs\python\python314\lib\site-packages (1.1.2)
Requirement already satisfied: sqlalchemy in c:\users\91620\appdata\local\programs\python\python314\lib\site-packages (2.0.44)
Requirement already satisfied: greenlet>=1 in c:\users\91620\appdata\local\programs\python\python314\lib\site-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\91620\appdata\local\programs\python\python314\lib\site-packages (from sqlalchemy) (4.15.0)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip
'-m' is not recognized as an internal or external command,
operable program or batch file.

In [52]:
from sqlalchemy import create_engine
import mysql.connector
# Setting up connection with MYSQL
username = "root"
password = "Secure$4u"
host = "localhost"
port = "3306"
database = "OLA_RIDES_ANALYSIS"

engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}")

In [ ]:
# Write DataFrame to MySQL ( Loaded this dataframe under table name "TABLE1")
table_name = "TABLE1"   # choose any table name
df.to_sql(table_name, engine , if_exists="replace", index=False)

C:\Users\91620\AppData\Local\Temp\ipykernel_1948\112225059.py:3: UserWarning: The provided table name 'TABLE1' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(table_name, engine , if_exists="replace", index=False)

20407